.features {
    .container {
        display: flex;
        flex-direction: row;
        gap: 30px;

        @media screen and (max-width:700px) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 1;

        svg {
            width: 80px;
            height: auto;
            aspect-ratio: 1;
            fill: white;
            opacity: 0.6;
        }
    }
}